IvaEJB/IvaEJB-war/web/WEB-INF/wsdl/localhost_8080/IvaSessionBeanService/IvaSessionBean.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ivaejbdemo/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ivaejbdemo/" name="IvaSessionBeanService">
<types>
<xsd:schema>
<xsd:import namespace="http://ivaejbdemo/" schemaLocation="http://localhost:8080/IvaSessionBeanService/IvaSessionBean?xsd=1"/>
</xsd:schema>
</types>
<message name="getValorIvaTotal">
<part name="parameters" element="tns:getValorIvaTotal"/>
</message>
<message name="getValorIvaTotalResponse">
<part name="parameters" element="tns:getValorIvaTotalResponse"/>
</message>
<message name="getValorIva">
<part name="parameters" element="tns:getValorIva"/>
</message>
<message name="getValorIvaResponse">
<part name="parameters" element="tns:getValorIvaResponse"/>
</message>
<message name="getValorSinIva">
<part name="parameters" element="tns:getValorSinIva"/>
</message>
<message name="getValorSinIvaResponse">
<part name="parameters" element="tns:getValorSinIvaResponse"/>
</message>
<portType name="IvaSessionBean">
<operation name="getValorIvaTotal">
<input wsam:Action="http://ivaejbdemo/IvaSessionBean/getValorIvaTotalRequest" message="tns:getValorIvaTotal"/>
<output wsam:Action="http://ivaejbdemo/IvaSessionBean/getValorIvaTotalResponse" message="tns:getValorIvaTotalResponse"/>
</operation>
<operation name="getValorIva">
<input wsam:Action="http://ivaejbdemo/IvaSessionBean/getValorIvaRequest" message="tns:getValorIva"/>
<output wsam:Action="http://ivaejbdemo/IvaSessionBean/getValorIvaResponse" message="tns:getValorIvaResponse"/>
</operation>
<operation name="getValorSinIva">
<input wsam:Action="http://ivaejbdemo/IvaSessionBean/getValorSinIvaRequest" message="tns:getValorSinIva"/>
<output wsam:Action="http://ivaejbdemo/IvaSessionBean/getValorSinIvaResponse" message="tns:getValorSinIvaResponse"/>
</operation>
</portType>
<binding name="IvaSessionBeanPortBinding" type="tns:IvaSessionBean">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getValorIvaTotal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getValorIva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getValorSinIva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="IvaSessionBeanService">
<port name="IvaSessionBeanPort" binding="tns:IvaSessionBeanPortBinding">
<soap:address location="http://localhost:8080/IvaSessionBeanService/IvaSessionBean"/>
</port>
</service>
</definitions>